<div class='row justify-content-center my-4'>
  <div class='col-xl-8 col-lg-12 filtres'>
    <div class='filter-group px-0 d-flex'>
      <div class='d-flex flex-column align-items-center m-3'>
        {{ 'Saison' }}
        {{ form.saison }}
      </div>
      <div class='d-flex flex-column align-items-center m-3'>
        {{ 'Championnat' }}
        {{ form.championnat }}
      </div>
      <div class='d-flex flex-column align-items-center m-3'>
        {{ 'Equipe' }}
        {{ form.equipe }}
      </div>
    </div>
  </div>
  <div class='col-xl-2 col-lg-12 mt-3 d-flex align-items-center justify-content-center filtres-actions'>
    <div class='filter-group filter-more'>
      {{ form.actions }}
    </div>
  </div>
  <input type='hidden' name='form_id' value='{{ form['#form_id'] }}'>
  <input type='hidden' name='form_build_id' value='{{ form['#build_id'] }}'>
</div>
