@charset "UTF-8";
body {
  font-family: "Raleway", sans-serif;
  color: #4A4A4A;
  background-color: #F7F7F9;
  font-weight: 500;
  font-size: 0.95rem;
}

header {
  background-color: #E6E6E6;
}
header .logo {
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 70%;
}

.simple-grey {
  color: #E6E6E6 !important;
}

.background-simple-grey {
  background-color: #E6E6E6 !important;
}

.border-simple-grey {
  border-color: #E6E6E6 !important;
}

.dark-grey {
  color: #4A4A4A !important;
}

.background-dark-grey {
  background-color: #4A4A4A !important;
}

.border-dark-grey {
  border-color: #4A4A4A !important;
}

.red {
  color: #D0021B !important;
}

.background-red {
  background-color: #D0021B !important;
}

.border-red {
  border-color: #D0021B !important;
}

.off-white {
  color: #F7F7F9 !important;
}

.background-off-white {
  background-color: #F7F7F9 !important;
}

.border-off-white {
  border-color: #F7F7F9 !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* CSS Loader Infinite Scroll */
.pager {
  margin: 0;
  padding: 0;
}
.pager .pager__item {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  list-style: none;
}
.pager .pager__item > .button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.pager .pager__item > .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #D0021B;
  border-radius: 10rem;
  z-index: -2;
}
.pager .pager__item > .button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #840111;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.pager .pager__item > .button:hover {
  color: #fff;
}
.pager .pager__item > .button:hover:before {
  width: 100%;
}

/* Hub notes formulaire exposé */
#views-exposed-form-note-hub .dropdown > button {
  background-color: #E6E6E6;
}
#views-exposed-form-note-hub .filtres > .filter-group {
  justify-content: center;
}

/* Hub notes */
.view--note--hub .notes .views-infinite-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15% 0 -16%;
}

.view--note--hub .view-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

/* CSS note full */
.note {
  min-height: 1200px;
}
.note .tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.note .tab-wrap:hover {
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}
.note .tab {
  display: none;
}
.note .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.note .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.note .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.note .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.note .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
  opacity: 1;
  transition: 0.5s opacity ease-in, 0.8s transform ease;
  position: relative;
  top: 0;
  z-index: 100;
  transform: translateY(0px);
  text-shadow: 0 0 0;
}
.note .tab:first-of-type:not(:last-of-type) + label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.note .tab:not(:first-of-type):not(:last-of-type) + label {
  border-radius: 0;
}
.note .tab:last-of-type:not(:first-of-type) + label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.note .tab:checked + label {
  background-color: #fff;
  box-shadow: 0 -1px 0 #fff inset;
  cursor: default;
}
.note .tab:checked + label:hover {
  box-shadow: 0 -1px 0 #fff inset;
  background-color: #fff;
}
.note .tab + label {
  box-shadow: 0 -1px 0 #eee inset;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333;
  flex-grow: 3;
  text-align: center;
  background-color: #E6E6E6;
  user-select: none;
  text-align: center;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.note .tab + label:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 0 #f4f4f4 inset;
}
.note .tab__content {
  padding: 10px 25px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0;
  left: 0;
  transform: translateY(-3px);
  border-radius: 6px;
}
.note .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.note .buteurs {
  display: flex;
}
.note .buteurs .home {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.note .buteurs .home .buteur img:last-of-type {
  margin: 0 30px 0 0;
}
.note .buteurs .away {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.note .buteurs .away .buteur img:first-of-type {
  margin: 0 0 0 30px;
}
.note .buteurs .buteur {
  font-weight: 600;
  text-transform: uppercase;
}
.note .buteurs .buteur img {
  width: 25px;
}
.note .equipe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
}
.note .equipe img {
  height: 100%;
}
.note .modal {
  top: 15vh;
}
.note .modal .modal-dialog {
  max-width: 45%;
}
.note .modal .modal-dialog .modal-title {
  text-transform: uppercase;
}
.note .modal .modal-dialog .popin-joueur {
  max-height: 550px;
  overflow: hidden auto;
  padding: 0;
}
.note .modal .modal-dialog .popin-joueur h4:not(:first-of-type) {
  margin: 20px 0 0;
}
.note .modal .modal-dialog .popin-joueur h4 {
  color: #D0021B;
}
.note .modal .modal-dialog .popin-joueur .stat {
  position: relative;
  margin-right: 50px;
}
.note .modal .modal-dialog .popin-joueur .stat .donnee {
  position: absolute;
  right: 0;
}
.note .modal .modal-dialog .popin-joueur .tab-content {
  padding-bottom: 0;
}
.note .modal .modal-dialog .popin-joueur .tab-content .tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.note .modal .modal-dialog .popin-joueur .tab-card-header {
  background: none;
  padding: 10px 15px 10px 0;
}
.note .modal .modal-dialog .popin-joueur .tab-card-header .nav-tabs {
  border: none;
  margin: 0;
}
.note .modal .modal-dialog .popin-joueur .tab-card-header .nav-tabs > li {
  margin-right: 2px;
}
.note .modal .modal-dialog .popin-joueur .tab-card-header .nav-tabs > li > a {
  border: 0;
  border-bottom: 2px solid transparent;
  margin-right: 0;
  color: #737373;
  padding: 2px 15px;
}
.note .modal .modal-dialog .popin-joueur .tab-card-header .nav-tabs > li > a:hover {
  color: #007bff;
}
.note .modal .modal-dialog .popin-joueur .tab-card-header .nav-tabs > li > a.show {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}
.note .swiper-container {
  height: 800px;
}
.note .swiper-container .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E6E6E6;
}
.note .swiper-container .swiper-slide img {
  width: 100%;
}
.note .swiper-container .swiper-button-next, .note .swiper-container .swiper-button-prev {
  color: #F7F7F9;
}
.note .tab__content.data {
  display: flex;
  flex-direction: column;
}
.note .tab__content.data .terrain {
  display: flex;
  position: relative;
}
.note .tab__content.data .terrain .equipe {
  position: absolute;
  width: 50%;
  height: 100%;
}
.note .tab__content.data .terrain .equipe.away {
  right: 0;
  left: unset;
}
.note .tab__content.data .terrain .equipe.away .formation {
  position: absolute;
  right: 15px;
  top: 0;
  color: white;
  letter-spacing: 3px;
}
.note .tab__content.data .terrain .equipe.away .remplacants {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.note .tab__content.data .terrain .equipe.away .position-1 {
  position: absolute;
  right: 10%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-2 {
  position: absolute;
  right: 30%;
  bottom: 10%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-3 {
  position: absolute;
  right: 30%;
  bottom: 90%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-4 {
  position: absolute;
  right: 52%;
  bottom: 72%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-5 {
  position: absolute;
  right: 30%;
  bottom: 36%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-6 {
  position: absolute;
  right: 30%;
  bottom: 63%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-7 {
  position: absolute;
  right: 75%;
  bottom: 12%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-8 {
  position: absolute;
  right: 52%;
  bottom: 30%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-9 {
  position: absolute;
  right: 88%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-10 {
  position: absolute;
  right: 68%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away .position-11 {
  position: absolute;
  right: 75%;
  bottom: 88%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-2 {
  right: 48%;
  bottom: 10%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-3 {
  right: 48%;
  bottom: 90%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-4 {
  right: 30%;
  bottom: 70%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-5 {
  right: 30%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-6 {
  right: 30%;
  bottom: 30%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-7 {
  right: 56%;
  bottom: 31%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-8 {
  right: 56%;
  bottom: 70%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-9 {
  right: 82%;
  bottom: 68%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-10 {
  right: 82%;
  bottom: 32%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-352 .position-11 {
  right: 60%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-2 {
  right: 48%;
  bottom: 90%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-3 {
  right: 48%;
  bottom: 10%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-4 {
  right: 30%;
  bottom: 30%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-5 {
  right: 30%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-6 {
  right: 30%;
  bottom: 70%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-7 {
  right: 52%;
  bottom: 67%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-8 {
  right: 52%;
  bottom: 33%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-9 {
  right: 72%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-10 {
  right: 90%;
  bottom: 60%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3412 .position-11 {
  right: 90%;
  bottom: 40%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-2 {
  right: 48%;
  bottom: 10%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-3 {
  right: 48%;
  bottom: 90%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-4 {
  right: 30%;
  bottom: 70%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-5 {
  right: 30%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-6 {
  right: 30%;
  bottom: 30%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-7 {
  right: 52%;
  bottom: 33%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-8 {
  right: 52%;
  bottom: 67%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-9 {
  right: 90%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-10 {
  right: 72%;
  bottom: 40%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-3421 .position-11 {
  right: 72%;
  bottom: 60%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-2 {
  bottom: 90%;
  right: 35%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-3 {
  bottom: 64%;
  right: 35%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-4 {
  bottom: 37%;
  right: 35%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-5 {
  bottom: 10%;
  right: 35%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-6 {
  bottom: 90%;
  right: 60%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-7 {
  bottom: 64%;
  right: 60%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-8 {
  bottom: 37%;
  right: 60%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-9 {
  bottom: 10%;
  right: 60%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-10 {
  bottom: 67%;
  right: 85%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-442 .position-11 {
  bottom: 34%;
  right: 85%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-2 {
  right: 30%;
  bottom: 10%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-3 {
  right: 30%;
  bottom: 90%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-4 {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-5 {
  right: 30%;
  bottom: 36%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-6 {
  right: 30%;
  bottom: 63%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-7 {
  right: 60%;
  bottom: 20%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-8 {
  right: 70%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-9 {
  right: 90%;
  bottom: 66%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-10 {
  right: 90%;
  bottom: 33%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-41212 .position-11 {
  right: 60%;
  bottom: 80%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-2 {
  right: 48%;
  bottom: 90%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-3 {
  right: 48%;
  bottom: 10%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-4 {
  right: 30%;
  bottom: 30%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-5 {
  right: 30%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-6 {
  right: 30%;
  bottom: 70%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-7 {
  right: 50%;
  bottom: 62%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-8 {
  right: 50%;
  bottom: 38%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-9 {
  right: 77%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-10 {
  right: 82%;
  bottom: 80%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-343 .position-11 {
  right: 82%;
  bottom: 20%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-2 {
  bottom: 90%;
  right: 35%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-3 {
  bottom: 10%;
  right: 35%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-4 {
  right: 52%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-5 {
  right: 35%;
  bottom: 64%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-6 {
  right: 35%;
  bottom: 37%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-7 {
  right: 64%;
  bottom: 72%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-8 {
  right: 64%;
  bottom: 30%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-9 {
  right: 89%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-10 {
  right: 85%;
  bottom: 80%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.away.formation-433 .position-11 {
  right: 85%;
  bottom: 19%;
  transform: translate(50%, 50%);
}
.note .tab__content.data .terrain .equipe.home {
  left: 0;
}
.note .tab__content.data .terrain .equipe.home .formation {
  position: absolute;
  left: 15px;
  top: 0;
  color: white;
  letter-spacing: 3px;
}
.note .tab__content.data .terrain .equipe.home .remplacants {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
}
.note .tab__content.data .terrain .equipe.home .position-1 {
  position: absolute;
  left: 10%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-2 {
  position: absolute;
  left: 30%;
  bottom: 10%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-3 {
  position: absolute;
  left: 30%;
  bottom: 90%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-4 {
  position: absolute;
  left: 52%;
  bottom: 72%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-5 {
  position: absolute;
  left: 30%;
  bottom: 36%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-6 {
  position: absolute;
  left: 30%;
  bottom: 63%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-7 {
  position: absolute;
  left: 75%;
  bottom: 12%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-8 {
  position: absolute;
  left: 52%;
  bottom: 30%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-9 {
  position: absolute;
  left: 88%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-10 {
  position: absolute;
  left: 68%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home .position-11 {
  position: absolute;
  left: 75%;
  bottom: 88%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-2 {
  left: 48%;
  bottom: 10%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-3 {
  left: 48%;
  bottom: 90%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-4 {
  left: 30%;
  bottom: 70%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-5 {
  left: 30%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-6 {
  left: 30%;
  bottom: 30%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-7 {
  left: 56%;
  bottom: 31%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-8 {
  left: 56%;
  bottom: 70%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-9 {
  left: 82%;
  bottom: 68%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-10 {
  left: 82%;
  bottom: 32%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-352 .position-11 {
  left: 60%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-2 {
  left: 48%;
  bottom: 90%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-3 {
  left: 48%;
  bottom: 10%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-4 {
  left: 30%;
  bottom: 30%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-5 {
  left: 30%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-6 {
  left: 30%;
  bottom: 70%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-7 {
  left: 52%;
  bottom: 67%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-8 {
  left: 52%;
  bottom: 33%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-9 {
  left: 72%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-10 {
  left: 90%;
  bottom: 60%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3412 .position-11 {
  left: 90%;
  bottom: 40%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-2 {
  left: 48%;
  bottom: 10%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-3 {
  left: 48%;
  bottom: 90%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-4 {
  left: 30%;
  bottom: 70%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-5 {
  left: 30%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-6 {
  left: 30%;
  bottom: 30%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-7 {
  left: 52%;
  bottom: 33%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-8 {
  left: 52%;
  bottom: 67%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-9 {
  left: 90%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-10 {
  left: 72%;
  bottom: 40%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-3421 .position-11 {
  left: 72%;
  bottom: 60%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-2 {
  bottom: 90%;
  left: 35%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-3 {
  bottom: 64%;
  left: 35%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-4 {
  bottom: 37%;
  left: 35%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-5 {
  bottom: 10%;
  left: 35%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-6 {
  bottom: 90%;
  left: 60%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-7 {
  bottom: 64%;
  left: 60%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-8 {
  bottom: 37%;
  left: 60%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-9 {
  bottom: 10%;
  left: 60%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-10 {
  bottom: 67%;
  left: 85%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-442 .position-11 {
  bottom: 34%;
  left: 85%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-2 {
  left: 30%;
  bottom: 10%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-3 {
  left: 30%;
  bottom: 90%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-4 {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-5 {
  left: 30%;
  bottom: 36%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-6 {
  left: 30%;
  bottom: 63%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-7 {
  left: 60%;
  bottom: 20%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-8 {
  left: 70%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-9 {
  left: 90%;
  bottom: 66%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-10 {
  left: 90%;
  bottom: 33%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-41212 .position-11 {
  left: 60%;
  bottom: 80%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-2 {
  left: 48%;
  bottom: 90%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-3 {
  left: 48%;
  bottom: 10%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-4 {
  left: 30%;
  bottom: 30%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-5 {
  left: 30%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-6 {
  left: 30%;
  bottom: 70%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-7 {
  left: 50%;
  bottom: 62%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-8 {
  left: 50%;
  bottom: 38%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-9 {
  left: 77%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-10 {
  left: 82%;
  bottom: 80%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-343 .position-11 {
  left: 82%;
  bottom: 20%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-2 {
  bottom: 90%;
  left: 35%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-3 {
  bottom: 10%;
  left: 35%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-4 {
  left: 52%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-5 {
  left: 35%;
  bottom: 64%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-6 {
  left: 35%;
  bottom: 37%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-7 {
  left: 64%;
  bottom: 72%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-8 {
  left: 64%;
  bottom: 30%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-9 {
  left: 89%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-10 {
  left: 85%;
  bottom: 80%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe.home.formation-433 .position-11 {
  left: 85%;
  bottom: 19%;
  transform: translate(-50%, 50%);
}
.note .tab__content.data .terrain .equipe .remplacants span {
  color: black;
  text-shadow: none;
}
.note .tab__content.data .terrain .joueur {
  text-decoration: underline;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  position: relative;
}
.note .tab__content.data .terrain .joueur img.icone {
  margin-top: -5px;
  position: absolute;
  height: auto;
}
.note .tab__content.data .terrain .joueur img.icone.buts {
  width: 20px;
}
.note .tab__content.data .terrain .joueur img.icone.red, .note .tab__content.data .terrain .joueur img.icone.yellow {
  width: 14px;
  right: 0;
}
.note .tab__content.data .terrain .joueur img.maillot {
  width: 75px;
  height: auto;
}
.note .tab__content.data .terrain .joueur span {
  position: absolute;
  bottom: -5px;
  transform: translate(-50%, 50%);
  left: 50%;
  padding: 2px 10px;
  min-width: 80px;
  color: white;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1;
  text-transform: capitalize;
  text-shadow: #4A4A4A 0.1em 0.1em 0;
  font-size: 14px;
  white-space: nowrap;
}
.note .tab__content.data .graphiques {
  padding-top: 50px;
  border-top: 1px solid black;
}
.note .tab__content.data .graphiques .card {
  border-radius: 0;
  border-color: #4A4A4A;
  margin: 10px 0;
}
.note .tab__content.data .graphiques .card .card-header {
  border-bottom: none;
  background-color: #E6E6E6;
}
.note .tab__content.data .graphiques .card .card-header button {
  color: #D0021B;
}
.note .tab__content.data .graphiques .card .card-header button:focus {
  box-shadow: none;
}

.charts-line {
  display: flex;
  flex-direction: row;
}
.charts-line .highcharts-touches {
  width: 100%;
}

/* CSS note teaser */
.note-teaser {
  width: 35%;
  border: 1px solid #4A4A4A;
  overflow: hidden;
}
.note-teaser a {
  color: #4A4A4A;
  text-decoration: none;
}
.note-teaser a > img {
  max-height: 205px;
  border-bottom: 1px solid #4A4A4A;
}
.note-teaser a:hover {
  text-decoration: none;
  color: #D0021B;
}
.note-teaser .score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.note-teaser .equipe {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 35%;
}
.note-teaser .equipe img {
  height: 60%;
}

@media (max-width: 1200px) {
  .note-teaser {
    width: 25%;
  }

  .note-teaser .resultat > h2 {
    font-size: 22px;
  }

  .note-teaser .equipe > h5 {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  #views-exposed-form-note-hub .filtres > .filter-group {
    flex-direction: column;
  }
  #views-exposed-form-note-hub .filtres-actions {
    justify-content: center;
  }

  .notes .views-infinite-scroll-content-wrapper {
    margin: 0;
  }

  .note .modal {
    top: 15vh;
  }
  .note .modal .modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
  }
  .note .tab__content.data .terrain .joueur img.maillot {
    width: 60px;
  }
  .note .tab__content.data .terrain .joueur span {
    font-size: 11px;
    min-width: unset;
  }

  .note-teaser {
    width: 40%;
  }
}
@media (max-width: 750px) {
  .note .tab__content.data .terrain .joueur .icone.buts {
    display: none;
  }
  .note .tab__content.data .terrain .joueur .icone.red, .note .tab__content.data .terrain .joueur .icone.yellow {
    display: none;
  }
  .note .tab__content.data .terrain .joueur img.maillot {
    display: none;
  }
  .note .tab__content.data .terrain .joueur span {
    font-size: 10px;
    padding: 2px;
    min-width: 40px;
    white-space: unset;
  }
  .note .tab__content.data .terrain .equipe.away .formation {
    font-size: 10px;
  }
  .note .tab__content.data .terrain .equipe.away .remplacants {
    flex-direction: column;
    right: 50%;
  }
  .note .tab__content.data .terrain .equipe.away .remplacants .joueur {
    margin: 12px 0;
  }
  .note .tab__content.data .terrain .equipe.home .formation {
    font-size: 10px;
  }
  .note .tab__content.data .terrain .equipe.home .remplacants {
    flex-direction: column;
    left: 50%;
  }
  .note .tab__content.data .terrain .equipe.home .remplacants .joueur {
    margin: 12px 0;
  }

  .note-teaser {
    width: 70%;
  }
}
@media (max-width: 470px) {
  .note .score {
    flex-direction: column;
  }
  .note .score .equipe {
    margin: 20px 0;
  }
  .note .swiper-container {
    height: 300px;
  }
  .note .tab__content.data .terrain .joueur span {
    font-size: 9px;
    padding: 2px;
  }

  .note-teaser {
    width: 75%;
  }

  .note-teaser .equipe > h5 {
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
