body {
  font-family: 'Raleway', sans-serif;
  color: $dark-grey;
  background-color: $off-white;
  font-weight: 500;
  font-size: 0.95rem;
}

header {
  background-color: $simple-grey;
  .names {

  }
  .logo {
    display: flex;
    justify-content: center;
    img {
      width: 70%;
    }
  }
}

.simple-grey {
  color: $simple-grey !important;
}
.background-simple-grey {
  background-color: $simple-grey !important;
}
.border-simple-grey {
  border-color: $simple-grey !important;
}

.dark-grey {
  color: $dark-grey !important;
}
.background-dark-grey {
  background-color: $dark-grey !important;
}
.border-dark-grey {
  border-color: $dark-grey !important;
}

.red {
  color: $red !important;
}
.background-red {
  background-color: $red !important;
}
.border-red {
  border-color: $red !important;
}

.off-white {
  color: $off-white !important;
}
.background-off-white {
  background-color: $off-white !important;
}
.border-off-white {
  border-color: $off-white !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* CSS Loader Infinite Scroll */
.pager {
  margin: 0;
  padding: 0;
  .pager__item {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    list-style: none;
    > .button {
      display: inline-block;
      padding: .75rem 1.25rem;
      border-radius: 10rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: .15rem;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $red;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($red, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }
}
