/* Hub notes formulaire exposé */
#views-exposed-form-note-hub {
  .dropdown > button {
    background-color: $simple-grey;
  }
  .filtres > .filter-group {
    justify-content: center;
  }
}

/* Hub notes */
.view--note--hub .notes .views-infinite-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15% 0 -16%;
}
.view--note--hub .view-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

/* CSS note full */
.note {
  min-height: 1200px;

  .tab-wrap {
    transition: 0.3s box-shadow ease;
    border-radius: 6px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
      box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
    }
  }

  .tab {
    display: none;
    @for $i from 1 through 5 {
      &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
        opacity: 1;
        transition: 0.5s opacity ease-in, 0.8s transform ease;
        position: relative;
        top: 0;
        z-index: 100;
        transform: translateY(0px);
        text-shadow: 0 0 0;
      }
    }
    &:first-of-type:not(:last-of-type) + label {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:not(:first-of-type):not(:last-of-type) + label {
      border-radius: 0;
    }
    &:last-of-type:not(:first-of-type) + label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:checked + label {
      background-color: #fff;
      box-shadow: 0 -1px 0 #fff inset;
      cursor: default;
      &:hover {
        box-shadow: 0 -1px 0 #fff inset;
        background-color: #fff;
      }
    }
    + label {
      box-shadow: 0 -1px 0 #eee inset;
      border-radius: 6px 6px 0 0;
      cursor: pointer;
      display: block;
      text-decoration: none;
      color: #333;
      flex-grow: 3;
      text-align: center;
      background-color: $simple-grey;
      user-select: none;
      text-align: center;
      transition: 0.3s background-color ease, 0.3s box-shadow ease;
      height: 50px;
      box-sizing: border-box;
      padding: 15px;
      &:hover {
        background-color: #f9f9f9;
        box-shadow: 0 1px 0 #f4f4f4 inset;
      }
    }
    &__content {
      padding: 10px 25px;
      background-color: transparent;
      position: absolute;
      width: 100%;
      z-index: -1;
      opacity: 0;
      left: 0;
      transform: translateY(-3px);
      border-radius: 6px;
    }
  }

  .score {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .buteurs {
    display: flex;
    .home {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .buteur img:last-of-type {
        margin: 0 30px 0 0;
      }
    }
    .away {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .buteur img:first-of-type {
        margin: 0 0 0 30px;
      }
    }
    .buteur {
      font-weight: 600;
      text-transform: uppercase;
      img {
        width: 25px;
      }
    }
  }

  .equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 250px;
    img {
      height: 100%;
    }
  }

  .modal {
    top: 15vh;
    .modal-dialog {
      max-width: 45%;
      .modal-title {
        text-transform: uppercase;
      }
      .popin-joueur {
        max-height: 550px;
        overflow: hidden auto;
        padding: 0;
        h4:not(:first-of-type) {
          margin: 20px 0 0;
        }
        h4 {
          color: $red;
        }
        .stat {
          position: relative;
          margin-right: 50px;
          .donnee {
            position: absolute;
            right: 0;
          }
        }

        .tab-content {
          padding-bottom: 0;
          .tab-pane.active {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }
        }
        .tab-card-header {
          background: none;
          padding: 10px 15px 10px 0;
          .nav-tabs {
            border: none;
            margin: 0;
            >li {
              margin-right: 2px;
              >a {
                border: 0;
                border-bottom: 2px solid transparent;
                margin-right: 0;
                color: #737373;
                padding: 2px 15px;
                &:hover {
                  color: #007bff;
                }
              }
              >a.show {
                border-bottom: 2px solid #007bff;
                color: #007bff;
              }
            }
          }
        }
      }
    }
  }

  .swiper-container {
    height: 800px;
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #E6E6E6;
      img {
        width: 100%;
      }
    }
    .swiper-button-next, .swiper-button-prev {
      color: $off-white;
    }
  }

  .tab__content.data {
    display: flex;
    flex-direction: column;
    .terrain {
      display: flex;
      position: relative;
      .equipe {
        position: absolute;
        width: 50%;
        height: 100%;
        &.away {
          right: 0;
          left: unset;
          .formation {
            position: absolute;
            right: 15px;
            top: 0;
            color: white;
            letter-spacing: 3px;
          }

          .remplacants {
            position: absolute;
            top: 100%;
            right: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
          }
          .position-1 {
            position: absolute;
            right: 10%;
            bottom: 50%;
            transform: translate(50%, 50%);
          }
          .position-2 {
            position: absolute;
            right: 30%;
            bottom: 10%;
            transform: translate(50%, 50%);
          }
          .position-3 {
            position: absolute;
            right: 30%;
            bottom: 90%;
            transform: translate(50%, 50%);
          }
          .position-4 {
            position: absolute;
            right: 52%;
            bottom: 72%;
            transform: translate(50%, 50%);
          }
          .position-5 {
            position: absolute;
            right: 30%;
            bottom: 36%;
            transform: translate(50%, 50%);
          }
          .position-6 {
            position: absolute;
            right: 30%;
            bottom: 63%;
            transform: translate(50%, 50%);
          }
          .position-7 {
            position: absolute;
            right: 75%;
            bottom: 12%;
            transform: translate(50%, 50%);
          }
          .position-8 {
            position: absolute;
            right: 52%;
            bottom: 30%;
            transform: translate(50%, 50%);
          }
          .position-9 {
            position: absolute;
            right: 88%;
            bottom: 50%;
            transform: translate(50%, 50%);
          }
          .position-10 {
            position: absolute;
            right: 68%;
            bottom: 50%;
            transform: translate(50%, 50%);
          }
          .position-11 {
            position: absolute;
            right: 75%;
            bottom: 88%;
            transform: translate(50%, 50%);
          }

          &.formation-352 {
            .position-2 {
              right: 48%;
              bottom: 10%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              right: 48%;
              bottom: 90%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              right: 30%;
              bottom: 70%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              right: 30%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              right: 30%;
              bottom: 30%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              right: 56%;
              bottom: 31%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              right: 56%;
              bottom: 70%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              right: 82%;
              bottom: 68%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              right: 82%;
              bottom: 32%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              right: 60%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
          }
          &.formation-3412 {
            .position-2 {
              right: 48%;
              bottom: 90%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              right: 48%;
              bottom: 10%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              right: 30%;
              bottom: 30%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              right: 30%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              right: 30%;
              bottom: 70%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              right: 52%;
              bottom: 67%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              right: 52%;
              bottom: 33%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              right: 72%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              right: 90%;
              bottom: 60%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              right: 90%;
              bottom: 40%;
              transform: translate(50%, 50%);
            }
          }
          &.formation-3421 {
            .position-2 {
              right: 48%;
              bottom: 10%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              right: 48%;
              bottom: 90%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              right: 30%;
              bottom: 70%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              right: 30%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              right: 30%;
              bottom: 30%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              right: 52%;
              bottom: 33%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              right: 52%;
              bottom: 67%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              right: 90%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              right: 72%;
              bottom: 40%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              right: 72%;
              bottom: 60%;
              transform: translate(50%, 50%);
            }
          }
          &.formation-442 {
            .position-2 {
              bottom: 90%;
              right: 35%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              bottom: 64%;
              right: 35%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              bottom: 37%;
              right: 35%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              bottom: 10%;
              right: 35%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              bottom: 90%;
              right: 60%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              bottom: 64%;
              right: 60%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              bottom: 37%;
              right: 60%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              bottom: 10%;
              right: 60%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              bottom: 67%;
              right: 85%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              bottom: 34%;
              right: 85%;
              transform: translate(50%, 50%);
            }
          }
          &.formation-41212 {
            .position-2 {
              right: 30%;
              bottom: 10%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              right: 30%;
              bottom: 90%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              right: 50%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              right: 30%;
              bottom: 36%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              right: 30%;
              bottom: 63%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              right: 60%;
              bottom: 20%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              right: 70%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              right: 90%;
              bottom: 66%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              right: 90%;
              bottom: 33%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              right: 60%;
              bottom: 80%;
              transform: translate(50%, 50%);
            }
          }
          &.formation-343 {
            .position-2 {
              right: 48%;
              bottom: 90%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              right: 48%;
              bottom: 10%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              right: 30%;
              bottom: 30%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              right: 30%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              right: 30%;
              bottom: 70%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              right: 50%;
              bottom: 62%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              right: 50%;
              bottom: 38%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              right: 77%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              right: 82%;
              bottom: 80%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              right: 82%;
              bottom: 20%;
              transform: translate(50%, 50%);
            }
          }
          &.formation-433 {
            .position-2 {
              bottom: 90%;
              right: 35%;
              transform: translate(50%, 50%);
            }
            .position-3 {
              bottom: 10%;
              right: 35%;
              transform: translate(50%, 50%);
            }
            .position-4 {
              right: 52%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-5 {
              right: 35%;
              bottom: 64%;
              transform: translate(50%, 50%);
            }
            .position-6 {
              right: 35%;
              bottom: 37%;
              transform: translate(50%, 50%);
            }
            .position-7 {
              right: 64%;
              bottom: 72%;
              transform: translate(50%, 50%);
            }
            .position-8 {
              right: 64%;
              bottom: 30%;
              transform: translate(50%, 50%);
            }
            .position-9 {
              right: 89%;
              bottom: 50%;
              transform: translate(50%, 50%);
            }
            .position-10 {
              right: 85%;
              bottom: 80%;
              transform: translate(50%, 50%);
            }
            .position-11 {
              right: 85%;
              bottom: 19%;
              transform: translate(50%, 50%);
            }
          }
        }
        &.home {
          left: 0;
          .formation {
            position: absolute;
            left: 15px;
            top: 0;
            color: white;
            letter-spacing: 3px;
          }

          .remplacants {
            position: absolute;
            top: 100%;
            left: 0;
            display: flex;
            flex-wrap: wrap;
          }
          .position-1 {
            position: absolute;
            left: 10%;
            bottom: 50%;
            transform: translate(-50%, 50%);
          }
          .position-2 {
            position: absolute;
            left: 30%;
            bottom: 10%;
            transform: translate(-50%, 50%);
          }
          .position-3 {
            position: absolute;
            left: 30%;
            bottom: 90%;
            transform: translate(-50%, 50%);
          }
          .position-4 {
            position: absolute;
            left: 52%;
            bottom: 72%;
            transform: translate(-50%, 50%);
          }
          .position-5 {
            position: absolute;
            left: 30%;
            bottom: 36%;
            transform: translate(-50%, 50%);
          }
          .position-6 {
            position: absolute;
            left: 30%;
            bottom: 63%;
            transform: translate(-50%, 50%);
          }
          .position-7 {
            position: absolute;
            left: 75%;
            bottom: 12%;
            transform: translate(-50%, 50%);
          }
          .position-8 {
            position: absolute;
            left: 52%;
            bottom: 30%;
            transform: translate(-50%, 50%);
          }
          .position-9 {
            position: absolute;
            left: 88%;
            bottom: 50%;
            transform: translate(-50%, 50%);
          }
          .position-10 {
            position: absolute;
            left: 68%;
            bottom: 50%;
            transform: translate(-50%, 50%);
          }
          .position-11 {
            position: absolute;
            left: 75%;
            bottom: 88%;
            transform: translate(-50%, 50%);
          }

          &.formation-352 {
            .position-2 {
              left: 48%;
              bottom: 10%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              left: 48%;
              bottom: 90%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              left: 30%;
              bottom: 70%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              left: 30%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              left: 30%;
              bottom: 30%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              left: 56%;
              bottom: 31%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              left: 56%;
              bottom: 70%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              left: 82%;
              bottom: 68%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              left: 82%;
              bottom: 32%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              left: 60%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
          }
          &.formation-3412 {
            .position-2 {
              left: 48%;
              bottom: 90%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              left: 48%;
              bottom: 10%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              left: 30%;
              bottom: 30%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              left: 30%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              left: 30%;
              bottom: 70%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              left: 52%;
              bottom: 67%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              left: 52%;
              bottom: 33%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              left: 72%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              left: 90%;
              bottom: 60%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              left: 90%;
              bottom: 40%;
              transform: translate(-50%, 50%);
            }
          }
          &.formation-3421 {
            .position-2 {
              left: 48%;
              bottom: 10%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              left: 48%;
              bottom: 90%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              left: 30%;
              bottom: 70%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              left: 30%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              left: 30%;
              bottom: 30%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              left: 52%;
              bottom: 33%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              left: 52%;
              bottom: 67%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              left: 90%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              left: 72%;
              bottom: 40%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              left: 72%;
              bottom: 60%;
              transform: translate(-50%, 50%);
            }
          }
          &.formation-442 {
            .position-2 {
              bottom: 90%;
              left: 35%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              bottom: 64%;
              left: 35%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              bottom: 37%;
              left: 35%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              bottom: 10%;
              left: 35%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              bottom: 90%;
              left: 60%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              bottom: 64%;
              left: 60%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              bottom: 37%;
              left: 60%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              bottom: 10%;
              left: 60%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              bottom: 67%;
              left: 85%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              bottom: 34%;
              left: 85%;
              transform: translate(-50%, 50%);
            }
          }
          &.formation-41212 {
            .position-2 {
              left: 30%;
              bottom: 10%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              left: 30%;
              bottom: 90%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              left: 50%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              left: 30%;
              bottom: 36%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              left: 30%;
              bottom: 63%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              left: 60%;
              bottom: 20%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              left: 70%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              left: 90%;
              bottom: 66%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              left: 90%;
              bottom: 33%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              left: 60%;
              bottom: 80%;
              transform: translate(-50%, 50%);
            }
          }
          &.formation-343 {
            .position-2 {
              left: 48%;
              bottom: 90%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              left: 48%;
              bottom: 10%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              left: 30%;
              bottom: 30%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              left: 30%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              left: 30%;
              bottom: 70%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              left: 50%;
              bottom: 62%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              left: 50%;
              bottom: 38%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              left: 77%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              left: 82%;
              bottom: 80%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              left: 82%;
              bottom: 20%;
              transform: translate(-50%, 50%);
            }
          }
          &.formation-433 {
            .position-2 {
              bottom: 90%;
              left: 35%;
              transform: translate(-50%, 50%);
            }
            .position-3 {
              bottom: 10%;
              left: 35%;
              transform: translate(-50%, 50%);
            }
            .position-4 {
              left: 52%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-5 {
              left: 35%;
              bottom: 64%;
              transform: translate(-50%, 50%);
            }
            .position-6 {
              left: 35%;
              bottom: 37%;
              transform: translate(-50%, 50%);
            }
            .position-7 {
              left: 64%;
              bottom: 72%;
              transform: translate(-50%, 50%);
            }
            .position-8 {
              left: 64%;
              bottom: 30%;
              transform: translate(-50%, 50%);
            }
            .position-9 {
              left: 89%;
              bottom: 50%;
              transform: translate(-50%, 50%);
            }
            .position-10 {
              left: 85%;
              bottom: 80%;
              transform: translate(-50%, 50%);
            }
            .position-11 {
              left: 85%;
              bottom: 19%;
              transform: translate(-50%, 50%);
            }
          }
        }

        .remplacants {
          span {
            color: black;
            text-shadow: none;
          }
        }
      }

      .joueur {
        text-decoration: underline;
        cursor: pointer;
        margin: 10px;
        text-align: center;
        position: relative;
        img.icone {
          margin-top: -5px;
          position: absolute;
          height: auto;
        }
        img.icone.buts {
          width: 20px;
        }
        img.icone.red, img.icone.yellow {
          width: 14px;
          right: 0;
        }
        img.maillot {
          width: 75px;
          height: auto;
        }
        span {
          position: absolute;
          bottom: -5px;
          transform: translate(-50%, 50%);
          left: 50%;
          padding: 2px 10px;
          min-width: 80px;
          color: white;
          font-weight: 400;
          letter-spacing: 0.4px;
          line-height: 1;
          text-transform: capitalize;
          text-shadow: #4A4A4A 0.1em 0.1em 0;
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
    .graphiques {
      padding-top: 50px;
      border-top: 1px solid black;
      .card {
        border-radius: 0;
        border-color: $dark-grey;
        margin: 10px 0;
        .card-header {
          border-bottom: none;
          background-color: $simple-grey;
          button {
            color: $red;
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.charts-line {
  display: flex;
  flex-direction: row;
  .highcharts-touches {
    width: 100%;
  }
}

/* CSS note teaser */
.note-teaser {
  width: 35%;
  border: 1px solid $dark-grey;
  overflow: hidden;

  a {
    color: $dark-grey;
    text-decoration: none;
    & > img {
      max-height: 205px;
      border-bottom: 1px solid #4A4A4A;
    }
  }

  a:hover {
    text-decoration: none;
    color: $red;
  }

  .score {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .equipe {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 35%;
    img {
      height: 60%;
    }
  }
}

@media (max-width: $screen-m) {
  .note-teaser {
    width: 25%;
  }
  .note-teaser .resultat > h2 {
    font-size: 22px;
  }
  .note-teaser .equipe > h5 {
    font-size: 16px;
  }
}

@media (max-width: $screen-s) {
  #views-exposed-form-note-hub {
    .filtres > .filter-group {
      flex-direction: column;
    }
    .filtres-actions {
      justify-content: center;
    }
  }

  .notes .views-infinite-scroll-content-wrapper {
    margin: 0;
  }

  .note {
    .modal {
      top: 15vh;
      .modal-dialog {
        max-width: 80%;
        margin: 1.75rem auto;
      }
    }

    .tab__content.data {
      .terrain {
        .joueur {
          img.maillot {
            width: 60px;
          }
          span {
            font-size: 11px;
            min-width: unset;
          }
        }
      }
    }
  }

  .note-teaser {
    width: 40%;
  }
}

@media (max-width: $screen-xs) {
  .note {
    .tab__content.data {
      .terrain {
        .joueur {
          .icone.buts {
            display: none;
          }
          .icone.red, .icone.yellow {
            display: none;
          }
          img.maillot {
            display: none;
          }
          span {
            font-size: 10px;
            padding: 2px;
            min-width: 40px;
            white-space: unset;
          }
        }
        .equipe {
          &.away {
            .formation {
              font-size: 10px;
            }
            .remplacants {
              flex-direction: column;
              right: 50%;
              .joueur {
                margin: 12px 0;
              }
            }
          }
          &.home {
            .formation {
              font-size: 10px;
            }
            .remplacants {
              flex-direction: column;
              left: 50%;
              .joueur {
                margin: 12px 0;
              }
            }
          }
        }
      }
    }
  }

  .note-teaser {
    width: 70%;
  }
}

@media (max-width: $screen-xss) {
  .note {
    .score {
      flex-direction: column;
      .equipe {
        margin: 20px 0;
      }
    }
    .swiper-container {
      height: 300px;
    }
    .tab__content.data {
      .terrain {
        .joueur {
          span {
            font-size: 9px;
            padding: 2px;
          }
        }
      }
    }
  }
  .note-teaser {
    width: 75%;
  }
  .note-teaser .equipe > h5 {
    font-size: 15px;
  }
}
