<div class='swiper-container'>
  <div class='swiper-wrapper'>
    {% for item in items %}
      <div class='swiper-slide'>
        <img src='{{ item.content }}'/>
      </div>
    {% endfor %}
  </div>
  <div class='swiper-pagination'></div>
  <div class='swiper-button-prev'></div>
  <div class='swiper-button-next'></div>
</div>
